@import "tailwindcss";

@theme {
    /* Background */
  --color-steam-dark: #171a21;
  --color-steam-dark2: #272b36;
  --color-steam-night: #0a0a12;
  --color-steam-gray: #2a475e;
  --color-steam-blue: #66c0f4;
  --color-steam-accent: #c7d5e0;
  --color-steam-btn1: #b0f549;
  --color-steam-btn2: #28c206;

    /* Text */
  --color-text-light: #d1d8e3;
  --color-text-gray: #b6c0d1;
  --color-text-dark: #66748c;
}

:root{
    --color-text-dark-transparent: rgba(23, 26, 33, 1);
}

@source "../**/*.{astro,html,js,jsx,md,mdx,ts,tsx}";
