---
import Image from 'astro/components/Image.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import PictureSelf from '../../public/images/picture-self.jpeg'
---

<Layout title="about" currentTab="about">
	<span>
		<div class="contentBox mt-5 w-[80%]">
			<span class="lineBox">
				<Image src={PictureSelf} alt="Me" class="h-32 w-32 rounded-full m-2"/>
				<span class="mb-2">
					<h1 class="title">ABOUT ME</h1>
					<p>
						Mechatronics Technician and Computer Engineering undergaduate. I love computers and everything related!
						From circuit design to software development, I've always been fascinated by the intricacies of the electronic world.
					</p>
					<p>
						I started my journey at 14 years old with my first Roblox game. After playing with Lua for a while, I took an introductory C#
						programming course available on FreeCodeCamp.org. I've been loving programming ever since, as I've engaged in several software projects
						ranging from applications, services to even games.
					</p>
				</span>
			</span>
			<hr class="w-[80%] h-5 mx-auto border-slate-700/65 bg-neutral-quaternary rounded-sm">
			<span class="lineBox">

			</span>
			
		</div>
	</span>
</Layout>

<style is:global>
  	@reference "../styles/global.css";

	.contentBox{
		@apply h-fit ml-auto mr-auto bg-steam-dark2/50 backdrop-blur rounded border border-white/30 border-t-steam-matrix/30;
	}

	.lineBox{
		@apply h-fit w-fit flex flex-row
	}

	.title{
		@apply uppercase font-extrabold text-2xl font-mono text-white
	}

	.caption{
		@apply uppercase font-bold text-slate-400
	}
</style>
