---
import { Image } from 'astro:assets'
import GithubIcon from '../../public/images/icons/github.png'
import LinkedinIcon from '../../public/images/icons/linkedin.png'
import GmailIcon from '../../public/images/icons/gmail.png'
---

<span>
    <div class="h-fit bg-linear-to-b from-steam-dark to-steam-night  mt-12 flex flex-col">
        <span class="flex flex-row p-5">    
            <span class="flex flex-row gap-5 w-full items-center justify-center">
                <p><a href="https://github.com/Valkorz" class="text-steam-matrix shadow-2xs">
                    <Image src={GithubIcon} alt="go to github" class="w-11 h-11 bg-white/10 backdrop-blur border border-white/15 border-t-steam-matrix/15 rounded hover:scale-105 p-1">
                </a></p> 
                <p><a href="https://www.linkedin.com/in/vittoriopivarci/" class="text-steam-matrix shadow-2xs">
                    <Image src={LinkedinIcon} alt="go to linkedin" class="w-11 h-11 bg-white/10 backdrop-blur border border-white/15 border-t-steam-matrix/15 rounded hover:scale-105 p-1">
                </a></p>
                <p><a href="https://mail.google.com/mail/?view=cm&to=spookyme3js@gmail.com" class="text-steam-matrix shadow-2xs">
                    <Image src={GmailIcon} alt="go to gmail" class="w-11 h-11 bg-white/10 backdrop-blur border border-white/15 border-t-steam-matrix/15 rounded hover:scale-105 p-1">
                </a></p>
            </span>
        </span>
        <hr class="w-[80%] h-5 mx-auto border-slate-700/50 bg-neutral-quaternary rounded-sm">
        <h1 class="uppercase font-bold text-slate-500/90 text-center pb-10">Vittorio pivarci, 2026</h1>
    </div>
</span>