---
const { activeTab = 'main', headerEnabled = true} = Astro.props;

console.log(`class: ${headerEnabled? 'header-visible' : 'header-hidden'}`);
---

<div>
    <header class="bg-steam-dark w-full z-10 relative p-3">
        <h1 class:list={[headerEnabled? 'header-visible' : 'header-hidden', "text-steam-accent text-3xl mr-3 text-right font-black tracking-tighter uppercase"]}>
         <span class="text-steam-blue font-mono font-extrabold">{"</>"}</span> Vittorio Pivarci
        </h1>
    </header>
    <nav class="flex gap-1 bg-steam-dark2/60 opacity-90 nav-header z-3 relative -mt-2">
      {['main', 'library', 'blog', 'about'].map((tab) => (
        <a  href={tab === 'main' ? '/website-portfolio' : `/website-portfolio/${tab}`}
            class:list={[
            "px-6 py-6 uppercase text-sm font-bold drop-shadow-2xl transition-all duration-200 transform hover:translate-y-2 active:scale-95",
            activeTab === tab 
              ? "bg-steam-dark text-white border-b-2 border-steam-blue" 
              : "text-steam-accent hover:text-white hover:bg-steam-dark2 hover:border hover:border-l-0 hover:border-r-0 hover:border-t-0 hover:border-b-steam-accent"
            // "nav-button"
            ]}>
            {tab}
        </a>
      ))}
<!-- 
    <div class:list={[searchEnabled ? 'searchbar-visible' : 'searchbar-hidden', 'bg-steam-accent ml-auto w-full']} >
        test
    </div> -->

    </nav>
</div>

<style>
    .header-visible{
        display: block;
    }

    .header-hidden{
        display: none;
    }
</style>