---
import '../styles/global.css';
import SteamHeader from '../components/SteamHeader.astro'; // Import the component
const { title, currentTab } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-steam-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
    </head>
    <body class="bg-steam-gray text-steam-accent min-h-screen">
        <SteamHeader activeTab={currentTab}/>
        
        <main class="max-w-6xl mx-auto p-4">
            <slot /> </main>
    </body>
</html>