---
import '../styles/global.css';
import SteamHeader from '../components/SteamHeader.astro'; // Import the component
const { title, currentTab, headerEnabled = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-steam-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>  
    </head>
    <body class="bg-linear-to-b from-steam-gray to-steam-dark2 text-steam-accent min-h-screen">
        <SteamHeader activeTab={currentTab} headerEnabled={headerEnabled}/>     
        <main>
            <slot /> </main>
    </body>
</html>

<style>
    .w-sep-px{
        width: 2px;
        /* color: var(--color-text-dark-transparent); */
        /* box-shadow: 0 8px 20px 0 var(--color-text-dark-transparent); */
    }
</style>