---
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="bg-steam-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Main Page</title>  
    </head>
    <body class="bg-linear-to-b from-steam-gray to-steam-dark2 text-steam-accent min-h-screen">
        <main>
            <slot /> </main>
    </body>
</html>
